h1 {
  color: black;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: red;
}

table tr:nth-child(even) {
  background-color: white;
}

table {
  background-color: black;
  width: 100%;
}
table tr {
  width: 100vw;
  height: 61px;
  background-color: black;
}
.flag {
  position: absolute;
}
body {
  background-color: hotpink;
}

body {
  padding: 0;
}
