h1 {
  color: darkcyan;
}
.white {
  width: 100px;
  background-color: white;
  height: 100px;
}
.black {
  width: 100px;
  background-color: black;
  height: 100%;
}
body {
  background-color: lawngreen;
}
